.secound_hero {
  height: 250px;
  background-image: url(../images/secound-hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.secound_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.secound_hero .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.secound_hero .container h1 {
  font-size: 55px;
  margin-bottom: 15px;
}
.secound_hero .container p {
  font-size: 20px;
}
.secound_hero .container p a:nth-child(2) {
  color: #17cc9a !important;
}

.about_area {
  padding: 60px 0;
  position: relative;
}
.about_area .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.about_area .line .left,
.about_area .line .right {
  width: 50%;
}
.about_area .line .left .image img {
  width: 100%;
}
.about_area .line .right .subtitle {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
  color: #17cc9a;
}
.about_area .line .right .title {
  font-size: 42px;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: 700;
}
.about_area .line .right .desc {
  margin-bottom: 15px;
  line-height: 1.8;
}
.about_area .line .right .btn_contact {
  background: radial-gradient(circle, #17cc9a, #12b788, #16ad83, #12b083, #17cc9a);
  padding: 13px 35px;
  border-radius: 8px;
  font-size: 17px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
}
.about_area .about_shape {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.about_area .about_shape img {
  width: 100%;
}

@media (max-width: 768px) {
  .about_area {
    padding: 30px 0;
  }
  .about_area .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about_area .line .left,
.about_area .line .right {
    width: 100%;
  }
  .about_area .line .right .subtitle {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .about_area .line .right .title {
    font-size: 22px;
  }
  .about_area .line .right .desc {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .about_area .line .right .btn_contact {
    padding: 6px 20px;
    font-size: 14px;
    margin-top: 5px;
  }
}
.trusre_us {
  padding: 60px 0;
}
.trusre_us .title {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}
.trusre_us .desc {
  color: #6a6a6a;
  text-align: center;
  margin-bottom: 0;
}
.trusre_us .brands {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .trusre_us {
    padding: 10px 0;
  }
  .trusre_us .title {
    font-size: 22px;
  }
  .trusre_us .desc {
    font-size: 14px;
  }
  .trusre_us .brands {
    margin-top: 15px;
  }
  .trusre_us .brands .brand_item img {
    height: 50px;
    width: 70px;
  }
}
.our_goal {
  padding: 60px 0;
  position: relative;
}
.our_goal .line_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.our_goal .line_top .left,
.our_goal .line_top .right {
  width: 50%;
}
.our_goal .line_top .left .image img {
  width: 100%;
  border-radius: 15px;
}
.our_goal .line_top .right .subtitle {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
  color: #17cc9a;
}
.our_goal .line_top .right .title {
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: 700;
}
.our_goal .line_top .right .desc {
  line-height: 1.8;
}
.our_goal .line_bottom {
  margin-top: 40px;
}
.our_goal .line_bottom .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.our_goal .line_bottom .boxs .box img {
  max-width: 100%;
  border-radius: 15px;
}
.our_goal .line_bottom .boxs .box h4 {
  font-weight: 700;
}
.our_goal .line_bottom .boxs .box p {
  margin-bottom: 0;
}
.our_goal .line_bottom .boxs .box .btn_contact {
  background: radial-gradient(circle, #17cc9a, #12b788, #16ad83, #12b083, #17cc9a);
  padding: 13px 35px;
  border-radius: 8px;
  font-size: 17px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
}
.our_goal .goal_circal {
  position: absolute;
  bottom: 300px;
  left: 50px;
}
.our_goal .goal_circal img {
  -webkit-animation: rotateme 5s linear infinite;
          animation: rotateme 5s linear infinite;
}

@media (max-width: 768px) {
  .our_goal {
    padding: 30px 0;
    text-align: center;
  }
  .our_goal .line_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .our_goal .line_top .left,
.our_goal .line_top .right {
    width: 100%;
  }
  .our_goal .line_top .right .subtitle {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .our_goal .line_top .right .title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .our_goal .line_top .right .desc {
    font-size: 14px;
    margin-bottom: 0;
  }
  .our_goal .line_bottom {
    margin-top: 15px;
  }
  .our_goal .line_bottom .boxs .box h4 {
    font-size: 19px;
    margin-bottom: 3px;
  }
  .our_goal .line_bottom .boxs .box p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .our_goal .line_bottom .boxs .box .btn_contact {
    padding: 6px 20px;
    font-size: 14px;
    margin-top: 5px;
  }
  .our_goal .goal_circal {
    bottom: auto;
    top: 100px;
    left: 20px;
  }
  .our_goal .goal_circal img {
    width: 80px;
  }
}
.client_data {
  padding: 30px 0;
}
.client_data .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.client_data .line .left,
.client_data .line .right {
  width: 50%;
}
.client_data .line .left {
  position: relative;
}
.client_data .line .left .about_sub-img-3 {
  position: absolute;
  bottom: -1%;
  left: 4%;
}
.client_data .line .left .about_sub-img-3 img {
  height: 170px;
  width: 150px;
}
.client_data .line .left .bg_shape {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -5;
}
.client_data .line .left .bg_shape img {
  max-width: 100%;
}
.client_data .line .right .subtitle {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
  color: #17cc9a;
}
.client_data .line .right .title {
  font-size: 50px;
  margin-bottom: 10px;
}
.client_data .line .right .desc {
  font-size: 18px;
  margin-bottom: 0;
}
.client_data .line .right .features_section {
  margin-top: 25px;
}
.client_data .line .right .features_section .feature {
  margin-bottom: 15px;
}
.client_data .line .right .features_section .feature i {
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  background-color: #17cc9a;
  font-weight: 600;
  margin-right: 5px;
}
.client_data .line .right .features_section .feature span {
  font-size: 19px;
}
.client_data .line .right .btn_contact {
  padding: 10px 35px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(30deg, var(--main-color) 42%, #ca60d3 75%);
  display: inline-block;
  margin-top: 15px;
}

@-webkit-keyframes rotateme {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateme {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  list-style: none !important;
}

p {
  margin-bottom: 0;
}