a {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  list-style: none !important;
}

p {
  margin-bottom: 0;
}

// animation
@keyframes rotateme {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
