$primary-color: #17cc9a;
$gray-color: #6a6a6a;
$secound-bg: #0e0e0e;

// start custom cursor
.inner_cursor {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  overflow: hidden;
  z-index: 9999;

  .video-1,
  .video-2,
  .video-3 {
    display: none;
  }

  &.grow {
    width: 65px;
    height: 65px;
    transition: width 1s m height 1s;
  }

  &.grow-video-1 {
    width: 300px;
    height: 300px;

    .video-1 {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &.grow-video-2 {
    width: 300px;
    height: 300px;

    .video-2 {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &.grow-video-3 {
    width: 300px;
    height: 300px;

    .video-3 {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
// end custom cursor

// start secound_header
.secound_header {
  margin-top: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      svg {
        width: 120px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 30px;

      button {
        background-color: transparent;
        border: none;
        color: white;
      }

      .btn_show {
        font-size: 19px;
        font-weight: 600;
      }

      .btn_menu {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 19px;
        font-weight: 600;

        .menu_icon {
          width: 35px;
          svg {
            width: 35px;
            height: 35px;
            transition: all 0.3s;
            position: relative;

            &.fixed {
              position: fixed;
              right: 45px;
              z-index: 999;
              color: white;
              mix-blend-mode: difference;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .secound_header {
    margin-top: 10px;

    .container {
      .logo {
        svg {
          width: 85px;
        }
      }

      .info {
        gap: 15px;

        .btn_show {
          font-size: 15px;
        }

        .btn_menu {
          span {
            &:nth-child(1) {
              display: none;
            }
          }

          span {
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
// end secound_header

// start hero_secound
.hero_secound {
  background: black;
  position: relative;

  .container {
    height: 100%;
    max-width: 1000px;
    margin: auto;

    .line {
      display: flex;
      align-items: center;

      .left {
        .video_container {
          display: none;

          video {
            width: 100%;
            height: 100%;
          }
        }
      }

      .right {
        .hero_body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 70vh;

          .subtitle {
            font-size: 21px;
            font-weight: 600;
          }

          .hero_nav {
            display: flex;
            gap: 50px;

            .hero_nav_item {
              padding: 12px 0;
              position: relative;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: -30vh;
                bottom: -30vh;
                left: 0;
                right: 0;
              }

              a {
                color: transparent;
                text-shadow: none;
                -webkit-text-stroke: 1px white;

                span {
                  color: transparent;
                  text-shadow: none;
                  -webkit-text-stroke: 1px white;
                  font-size: 75px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }

    .hero_footer {
      height: 30vh;
      display: flex;
      align-items: center;

      .text {
        font-size: 22px;
        font-weight: 600;
        max-width: 700px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .hero_secound {
    .container {
      .line {
        gap: 40px;
        justify-content: center;

        .left {
          .video_container {
            display: block;
            border-radius: 50%;
            overflow: hidden;
            max-width: 400px;
            max-height: 400px;
            height: 400px;
            background-color: white;
          }
        }

        .right {
          .hero_body {
            .subtitle {
              font-size: 18px;
            }

            .hero_nav {
              flex-direction: column;
              gap: 5px;

              .hero_nav_item {
                padding: 0;
                width: fit-content;

                &::before {
                  display: none;
                }

                &::after {
                  content: "";
                  position: absolute;
                  bottom: 5px;
                  left: 0;
                  height: 2px;
                  width: 100%;
                  background-color: white;
                }

                a {
                  span {
                    font-size: 60px;
                    font-weight: 600;
                    color: white;
                    text-shadow: none;
                    -webkit-text-stroke: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero_secound {
    .container {
      .line {
        flex-direction: column;
        gap: 30px;
        padding: 40px 40px 0;

        .left {
          .video_container {
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 300px;
            height: 300px;

            video {
              width: 100%;
              height: 100%;
            }
          }
        }

        .right {
          .hero_body {
            height: auto;
            text-align: center;

            .subtitle {
              font-size: 16px;
              display: block;
            }

            .hero_nav {
              align-items: center;
              flex-direction: row;
              gap: 10px;
              .hero_nav_item {
                a {
                  span {
                    font-size: 30px;
                  }
                }
              }
            }
          }
        }
      }

      .hero_footer {
        height: auto;
        text-align: center;
        margin-top: 10px;

        .text {
          font-size: 15px;
        }
      }
    }
  }
}
// end hero_secound

// start spaces

.speces {
  overflow: hidden;

  .line {
    .subtitle {
      font-size: 18px;
      color: $primary-color;
    }

    .desc {
      font-size: 17px;
    }
  }

  .line_two {
    .info {
      .subtitle {
        font-size: 13px;
        color: $primary-color;
        font-weight: 600;
      }

      .title {
        font-weight: 700;
      }

      .desc {
        font-size: 14px;
      }
    }
  }
}

.speces .img-wrapper {
  position: relative;

  .absolute {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -1;
  }
}

@media (max-width: 575px) {
  .speces {
    margin-top: 30px;

    .line {
      .subtitle {
        font-size: 15px;
      }

      .title {
        font-size: 20px;
      }

      .desc {
        font-size: 12px;
      }
    }

    .line_two {
      text-align: center !important;

      .info {
        .subtitle {
          font-size: 11px;
        }
        .title {
          font-size: 18px;
          margin-bottom: 3px;
        }
      }

      .col_end {
        margin-top: 200px;
      }
    }
  }
}
// end spaces

// start about_our_company
.about_our_company {
  padding-top: 60px;

  .box {
    &:not(:last-child) {
      margin-bottom: 20em;
    }

    &:last-of-type {
      display: flex;
      flex-direction: column;
      align-items: end;

      h2 {
        margin-left: 0;
        margin-right: 200px;
      }
    }

    h2 {
      margin-left: 200px;
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 20px;
      position: relative;
    }

    .line {
      position: relative;
      width: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .img_box {
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
        box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
        border-radius: 15px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        position: absolute;
        right: 0;
        margin-top: 200px;
        margin-bottom: 40px;
        background-color: $secound-bg;
        z-index: 1;
        max-width: 400px;
        box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-bottom: 5px solid $primary-color;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 991px) {
  .about_our_company {
    .box {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:last-of-type {
        align-items: start;
      }

      h2 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        font-weight: 700;
        font-size: 25px;
      }

      .line {
        width: 100%;
        flex-direction: column;

        .img_box {
          width: 100%;
          height: 250px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .content {
          margin-top: 0;
          margin-bottom: 0;
          padding: 15px;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          position: relative;
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .about_our_company {
    padding-top: 30px;

    .box {
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .line {
        .img_box {
          height: 180px;
        }

        .content {
          font-size: 13px;
        }
      }
    }
  }
}
// end about_our_company

// start design_resources
.design_resources {
  margin: 15em 0 0;
  padding: 50px 0;
  background-color: white;
  color: black;
  position: relative;

  .title {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .desc {
    font-size: 22px;
    line-height: 1.6;
    max-width: 600px;
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    margin-top: 80px;

    .box {
      img {
        width: 100%;
      }

      span {
        display: block;
        font-size: 20px;
        margin: 30px 0;
      }

      h4 {
        font-size: 28px;
      }
    }
  }

  .btn_view {
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #bfbfbf;
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    position: relative;
    z-index: 20;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0%;
      width: 100%;
      background-color: black;
      color: white;
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover {
      color: white !important;

      &::before {
        height: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .design_resources {
    margin: 4em 0 0;
    padding: 30px 0;

    .title {
      font-size: 22px;
      text-align: center;
      margin-bottom: 5px;
    }

    .desc {
      font-size: 15px;
      line-height: 1.4;
      margin: auto;
      text-align: center;
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 20px;
      margin-top: 30px;

      .box {
        span {
          font-size: 17px;
          margin: 10px 0;
        }

        h4 {
          font-size: 20px;
        }
      }
    }

    .btn_view {
      height: 40px;
      line-height: 40px;
      border-radius: 50px;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
// end design_resources

// start new_inspiro
.new_inspiro {
  padding: 60px 0;
  background-color: white;
  color: black;
  position: relative;

  .title {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .container_carousel {
    .card {
      background-color: transparent;
      color: black;
      border: none;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }

      h5 {
        margin: 30px 0 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .new_inspiro {
    padding: 30px 0;

    .title {
      font-size: 23px;
      margin-bottom: 20px;
    }

    .container_carousel {
      padding: 0 10px;

      .card {
        img {
          height: 200px;
        }

        h5 {
          margin: 15px 0 5px;
        }
      }
    }
  }
}
// end new_inspiro

// start footer_body
.secound_footer {
  padding: 60px 0 30px;
  background-color: black;
  position: relative;
  background-attachment: fixed;

  .footer_body {
    height: 550px;
    h2 {
      font-size: 5.41667vw;
    }

    a {
      font-size: 5.41667vw;
      font-weight: 300;
      position: relative;

      &:hover {
        &::before {
          width: 0;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: #6a6a6a;
        transition: all 0.3s;
      }
    }
  }

  .footer_bottom {
    .left {
      a {
        &:nth-child(1) {
          font-weight: 600;
          font-size: 22px;
          margin-bottom: 20px;
          display: inline-block;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #6a6a6a;
            transition: all 0.3s;
          }

          &:hover {
            &::before {
              width: 0;
            }
          }
        }
      }

      address {
        p {
          font-size: 16px;
          color: #4a4a4a;
          margin-bottom: 0;
        }
      }
    }

    .right {
      .row_social {
        display: flex;
        align-items: center;
        a {
          display: inline-block;
          width: 33%;
          padding: 25px 0;

          span {
            font-size: 600;
            font-size: 22px;
          }
          i {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .secound_footer {
    text-align: center;
    padding: 20px 0 30px;

    .footer_body {
      height: auto;
      margin-bottom: 35px;

      a {
        &::before {
          height: 2px;
        }
      }
    }

    .footer_bottom {
      .left {
        a {
          &:nth-child(1) {
            font-size: 18px;

            &::before {
              height: 1px;
            }
          }
        }

        address {
          p {
            font-size: 14px;
          }
        }
      }

      .right {
        .row_social {
          a {
            padding: 15px 0;

            span {
              display: none;
            }

            i {
              display: block;
              font-size: 20px;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
// end footer_body
